<div class="w3-padding">
   <div class="w3-hide-medium w3-hide-large">
      <div class="blap-margin-small blap-opacity w3-round w3-large w3-padding">
         <fa-icon [icon]="faAddressBook" class="w3-text-amber"></fa-icon> +63 938 3673 347
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-large w3-padding">
         <fa-icon [icon]="faEnvelope" class="w3-text-amber"></fa-icon> blap.com.ph@gmail.com
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-large w3-padding">
         <fa-icon [icon]="faFacebook" class="w3-text-amber"></fa-icon> facebook.com/geeksfortechs/
      </div>
   </div>

   <div class="w3-hide-small w3-hide-large">
      <div class="blap-margin-small blap-opacity w3-round w3-xlarge w3-padding">
         <fa-icon [icon]="faAddressBook" class="w3-text-amber"></fa-icon> +63 938 3673 347
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-xlarge w3-padding">
         <fa-icon [icon]="faEnvelope" class="w3-text-amber"></fa-icon> blap.com.ph@gmail.com
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-xlarge w3-padding">
         <fa-icon [icon]="faFacebook" class="w3-text-amber"></fa-icon> facebook.com/geeksfortechs/
      </div>
   </div>

   <div class="w3-hide-small w3-hide-medium">
      <div class="blap-margin-small blap-opacity w3-round w3-xxlarge w3-padding">
         <fa-icon [icon]="faAddressBook" class="w3-text-amber"></fa-icon> +63 938 3673 347
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-xxlarge w3-padding">
         <fa-icon [icon]="faEnvelope" class="w3-text-amber"></fa-icon> blap.com.ph@gmail.com
      </div>
      <div class="blap-margin-small blap-opacity w3-round w3-xxlarge w3-padding">
         <fa-icon [icon]="faFacebook" class="w3-text-amber"></fa-icon> facebook.com/geeksfortechs/
      </div>
   </div>
</div>