<span class="w3-center w3-row">
   <span class="w3-col s12 m6 l6 w3-text-white">
      Welcome to blap solutions! We are a group of IT professionals from the Philippines and the nature of our company is to provide technical solution services. We offer software programming for business or personal use. You could provide us some suggestions or requirements according to your preferred designs or you could just leave it to our team’s capable hands! We also offer network management services and even CCTV camera installation; both in one package! Need computer parts and products? We got it here too! Provided only from the best computer supplier. Our computer services provide only top-notch results. We prioritize client satisfaction here at blap solutions!
   </span>
</span>