<mat-toolbar class="blap-transparent blap-stick-top">
   <span class="blap-spacer"></span>
   
   <div class="w3-center">
      <button mat-button class="blap-comfortaa-font" routerLink="/home" routerLinkActive="w3-text-pink">home</button>
      <button mat-button class="blap-comfortaa-font" routerLink="/about" routerLinkActive="w3-text-pink">about</button>
      <button mat-button class="blap-comfortaa-font" routerLink="/contact" routerLinkActive="w3-text-pink">contact</button>
   </div>
</mat-toolbar>