<div class="w3-padding">
   <div class="w3-col s12 m12 l5">
      <div class="w3-margin w3-center">
         <span class="w3-xxxlarge blap-comfortaa-font w3-text-pink">blap</span>
         <span class="blap-play-font w3-text-gray">IT Solutions</span>
      </div>
   </div>
   <div class="w3-col s12 m12 l7">
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Website</span>
         <span class="w3-row">Get more customers for your business. Reach the right people online.</span>
      </div>
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Mobile App</span>
         <span class="w3-row">Wether personal or business use, we can make it for you.</span>
      </div>
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Business Software</span>
         <span class="w3-row">Automate all of your transactions, generate reports of your sales. One click away system.</span>
      </div>
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Network Management</span>
         <span class="w3-row">Network configurations, data services, LAN/WAN IT infrastrucures.</span>
      </div>
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Video Surveillance (CCTV)</span>
         <span class="w3-row">Legal requirement for startup businesses. Access through your smart phone.</span>
      </div>
      <div class="blap-section w3-text-light-gray">
         <span class="w3-xxlarge blap-play-font">Computer Products and Services</span>
         <span class="w3-row">We provide, setup and/or upgrade your PC to the best performance</span>
      </div>
   </div>
</div>