<div class="w3-padding">
   <div class="w3-col s12 m5 l5">
      <div class="w3-margin w3-text-white">
         <div class="w3-center">
            <span class="w3-xxxlarge blap-comfortaa-font blap-theme-color">blap</span>
            <span class="blap-play-font w3-text-amber">IT Solutions</span>
         </div>
         <span class="w3-row blap-motto">Automate your business. Ease everything</span>
      </div>
   </div>
   <div class="w3-col s12 m7 l7">
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Website</span>
            <span class="w3-row">Get more customers for your business. Manage and organize your contents with the help of an excellently-programmed platform designed to specifically aid you with your endeavors.</span>
         </div>
      </div>
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Mobile App</span>
            <span class="w3-row">Whether it is for business or personal use, our capable team can help you develop your own mobile application that goes in accordance with your preferred concept and ideas.</span>
         </div>
      </div>
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Business Software</span>
            <span class="w3-row">Get organized with the support of our business software service. Automate all your transactions, generate report of your sales, and manage other information. Create a one-stop system for all of your important data.</span>
         </div>
      </div>
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Network Management</span>
            <span class="w3-row">Help manage and secure your network connection for your business. Use a systematic platform to maintain an organized setting that our team developed. Network configurations, data services, and LAN/WAN IT infrastructures, we got it all for you.</span>
         </div>
      </div>
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Video Surveillance (CCTV)</span>
            <span class="w3-row">Legal requirement for startup businesses. Provide surveillance to monitor your physical business area that you can access through your smartphone.</span>
         </div>
      </div>
      <div class="w3-col s12 m6 l4">
         <div class="blap-margin-small blap-opacity w3-text-light-gray w3-round w3-padding blap-services-height">
            <span class="w3-xlarge w3-text-amber blap-play-font">Computer Products and Services</span>
            <span class="w3-row">Setup your personal computer and upgrade it to the best performance with our high-end computer parts and products.</span>
         </div>
      </div>
   </div>
</div>